<header>
  <div class="msgbox mt-5">
    {{>message}}
  </div>
</header>

<!-- filter -->
<div class="function d-flex justify-content-start mt-3" style="display: flex; margin-bottom: 20px;">

  <form action="/filter" class="d-flex justify-content-around mt-3" method="get" style="width: 270px;">
    <div class="filter-months">
      <input type="month" id="month" name="months" min="2020-01" value="{{this.selectMonth}}">
    </div>
    <div class="filter-categories">
      <select class="input-group-prepend" name="category" id="filter" onchange="this.form.submit()">
        <option value="all" href="/">類別</option>
        <option value="家居物業" {{#setSelected this.category "家居物業"}} {{/setSelected}}>家居物業</option>
        <option value="交通出行" {{#setSelected this.category "交通出行"}} {{/setSelected}}>交通出行</option>
        <option value="休閒娛樂" {{#setSelected this.category "休閒娛樂"}} {{/setSelected}}>休閒娛樂</option>
        <option value="餐飲食品" {{#setSelected this.category "餐飲食品"}} {{/setSelected}}>餐飲食品</option>
        <option value="其他" {{#setSelected this.category "其他"}} {{/setSelected}}>其他</option>
      </select>
    </div>
  </form>
</div>

<!-- expense list -->
<ul class="list-group">
  <div class="col-auto mr-auto">
    <h2 class="total-amount">總金額: {{totalAmount}}</h2>
  </div>
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        <h4 style="display: inline; vertical-align: middle;">
          {{#setIcon this.category}} {{/setIcon}}</i>{{ this.name }}
          <h5>{{ this.shopname }}</h5>
        </h4>
        <h6>{{this.date}}</h6>
      </div>
      <div class="col-auto">
        <h5 style="display: flex;">{{this.amount}}</h5>
      </div>
      <div class="col-auto">
        <a class="btn btn-success" href="./records/{{ this._id }}/edit">edit</a>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
  <a class="btn btn-outline-info mt-3" href="/records/new">新增支出</a>
</ul>